/* Basic CSS Template */

/* General styles */
title {
     font-family: Verdana, Calibri;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    font-family: Verdana, Calibri;
    background-color: #f4f4f4;
    color: #333;
}
h2,h3 {
     font-family: Verdana, Calibri;
    background-color: #f4f4f4;
    color: #333;
}
body {
    font-family: Calibri;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

/* Links */
a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
